.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
section#idCard{
    width: auto;
    padding: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(80, 228, 50);
    background-size: inherit;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    text-align: center;
    font-family: Kinder Garten;
    font-size: 2em;
    -webkit-text-stroke: .05em black;
    color: rgb(240, 152, 21);
}
#close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-family: Kinder Garten;
    font-weight: bold;
    text-decoration: none;
    color: rgb(21, 228, 21);
    transition: all 200ms;
}
